vendor/
.idea/
*.iml
.*.swp
.swp

### osx ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### sublimetext ###
# SublimeText project files
*.sublime-workspace

