body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.header {
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}
.page-header h2 {
	margin-top: 0px;
}
.page-header {
	margin-top: 0px;
}
.option-sidebar .nav > li > a {
	display: block;
	color: #222;
	padding: 5px 20px;
}
.option-sidebar .nav > .active > a, .option-sidebar .nav > .active:hover > a, .option-sidebar .nav > .active:focus > a {
	color: #dd4b39;
	background-color: transparent;
}

.highlight-example {
    font-size: 40px;
}

input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
    position: absolute;
    top: -6px;
    left: -5px;
    display: block;
    content: url(../vendor/todc-bootstrap/dist/img/checkmark.png)
}
