<div ng-controller="etcRegCtrl">
    <div class="page-header">
        <h2>paintover 기타 옵션</h2>
    </div>
    <div>
        <div>
            <h3>하이라이트 설정</h3>

            <div>
            <span class="highlight-example" ng-model="options"
                  ng-style="{'background-color': options.bgColor, 'color': options.fgColor}">
                Hello, PAINTOVER!!!
            </span>
            </div>
            <div>
                배경색
                <input colorpicker="" colorpicker-position="right"
                       ng-change="setOptions();" ng-model="options.bgColor"
                       class="span2 ng-valid ng-dirty" type="text">
            </div>
            <div>
                폰트색
                <input colorpicker="" colorpicker-position="right"
                       ng-change="setOptions();" ng-model="options.fgColor"
                       class="span2 ng-valid ng-dirty" type="text">
            </div>
        </div>
        <div>
            <h3>외운정도 최대치 (최소: 5)</h3>
            <input class="compleMaxSlider" type="text" value="">
        </div>
    </div>
</div>
