<div ng-controller="vocaRegCtrl">
	<div class="page-header" >
	  <h2>단어등록</h2>
	</div>
	<div>
        <form ng-submit="addVoca(voca)" ng-controller="mainCtrl">
            <input type="text" ng-model="voca.text" >
            <button class="btn" data-ng-click="addVoca(voca)">등록</button>
        </form>
	</div>
	<div>
		<h3>등록된 단어 목록</h3>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>단어명</th>
						<th>외운 정도</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="vocalListLength == 0">
						<td colspan="3">추가된 단어가 없습니다.</td>
					</tr>
					<tr ng-repeat="(key, value) in vocaListReged">
						<td>{{value.text}}</td>
						<td>{{value.complete}}</td>
						<td>
							<button class="btn btn-danger" ng-click="removeVoca(key)">삭제</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
